@import url('https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Mukta+Malar:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Mukta+Malar:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Kaisei+HarunoUmi&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Mukta+Malar:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kaisei+HarunoUmi&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Mukta+Malar:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --antiquewhite: #94ffb4;
    --amarelo: #4caf50;

}

body {
    background-color: var(--antiquewhite);
}


header {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.Titulo {
    font-family: "Mukta Malar", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 100px;
    margin: 5px;
}

.azul {
    background-color: #ff0000a6;
    padding: 11px;
    font-family: "Krub", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 10px;
}


#Quem-somos {
    display: flex;
    margin: 20px;
    padding: 10px;
    font-family: "IBM Plex Serif", serif;
    font-weight: 500;
    font-style: normal;
}

.equipe {
    text-align: center;
}

.Fotos {
    display: grid;
    grid-template-columns: 55%;
    align-items: center;
}

.Integrante {
    width: 50%;
    font-family: "IBM Plex Serif", serif;
  font-weight: 100;
  font-style: normal;
}

.img-empreender {
    width: 100%;
    font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: normal;
}

#mercadorias {
    display: grid;
    grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
    justify-content: space-around;

}

.comida {
    width: 60%;
    margin: 5%;
    border: solid 15px #D9D9D9;

}

footer {
    background-color: #eedfbe;
    display: grid;
    grid-template-columns: 70% 30%;
}

header a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.lado{
    display: flex;
    align-items: center;
}

.sub{
    margin-top: 10px;
    font-family: "Krub", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.logo{
    display: flex;
    align-items: flex-end;
}

.texto{
    margin-left: -133px;
    margin-bottom: 47px;
    font-family: "IBM Plex Serif", serif;
    font-weight: 100;
    font-style: normal;
}

.produto{
    font-family: "IBM Plex Serif", serif;
    font-weight: 500;
    font-style: normal; 
    margin-right: 20px;
}

.textinho{
    margin: 0;
}